<div *ngIf="loaded">


    <div *ngFor="let card of suggestions">
        <mat-card style="border: none !important;box-shadow: none !important;">

            <mat-card-content>
                    <div class="row">
                        <div class="col-sm-6">
                <a  [routerLink]="['/profile']" [queryParams]="{ username:card.user.username}"><img [src]="card.photo" style="width: 50px;height: 50px; border-radius: 50%;" alt="Card image cap">
                </a>   </div>
                <div class="col-sm-6" style="font-size: small; ">

                            <div class="row">
                        <div class="col-sm-6" style="font-size: small;margin-bottom: 0px;padding-left: 0px; ">

                            <p [routerLink]="['/profile']" [queryParams]="{ username:card.user.username}" style="font-size: small;margin-bottom: 0px;padding-left: 0px; ">{{card.user.nickname}}</p>
                        
                        <div class="col-sm-6" style="font-size: small;padding-left: 0px;">
                            <button id="addButton" (click)="follow(card.user)">follow</button>
                        </div></div></div>
                    </div>
                </div>

            </mat-card-content>
        </mat-card>
        <hr>
    </div>

</div>