<div *ngIf="loaded">
    <div class="row" style="margin-left:20%;">
        <div class="col-sm-3">
            <a href="#"> <img style="height: 100px; width: 100px; border-radius: 50%; overflow: hidden;"
                    [src]="profile.photo ? (profile.photo | image) : 'assets/resources/user.png'">
            </a>
        </div>
        <div class="col-sm-5">
            <div class="row">
                <div class="col-sm-4">
                    <p style=" font-family: 'Itim', cursive; font-weight:500; font-size: 20px; text-align: left;">
                        {{profile.user.nickname}}
                    </p>
                </div>
                <div class="col-sm-6">
                    <button *ngIf="isPersonalProfile" mat-flat-button id="addButton" (click)="editProfile()">Edit Profile</button>
                    <button *ngIf="!isPersonalProfile&&!followed" mat-flat-button id="addButton" (click)="follow()">Follow</button>
                    <button *ngIf="!isPersonalProfile&&followed" mat-flat-button id="addButton" (click)="unfollow()">Unfollow</button>
               
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <button style="background-color: transparent;border-color: transparent;" ><p style=" font-family: 'Itim', cursive; text-align: left;">{{postsNumber}} posts</p>
                    </button></div>
                <div class="col-sm-4">
                    <button style="background-color: transparent;border-color: transparent;" (click)="followDetails(true)"><p style=" font-family: 'Itim', cursive;">{{followers.length}} followers</p>
                </button></div>
                <div class="col-sm-4">
                    <button style="background-color: transparent;border-color: transparent;" (click)="followDetails(false)"><p style=" font-family: 'Itim', cursive;">{{following.length}} following</p></button>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <p style=" font-family: 'Itim', cursive; font-weight:500; text-align: left;">{{profile.displayName}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style=" margin-left: 25%; font-family: 'Itim', cursive; font-weight:500; text-align: center;">
        <div class="col-sm-8">
            <p>{{profile.description}}</p>
        </div>
    </div>
</div>