<mat-card style="text-align: center;margin-top: 35px; background-color: rgb(255,250,250); height: 830px; width: 90%; border-radius: 30px;margin-left:5%;">
    <mat-card-header>
        <app-header></app-header>
    </mat-card-header>

    <mat-card-content>
        <div class="row">
            <div class="col-sm-4"
                style="background-color: white; box-shadow:5px 5px 15px rgba(216, 134, 134, 0.205);border-radius: 30px; ">
                <app-active-chats (open)="onOpen($event)"></app-active-chats>
            </div>
            <div ></div>
        </div>
    </mat-card-content>
</mat-card>